Repository alphagov/govuk-design-system, pull requests merged in 2021-10, with the labels that each got.

#1913 Link Design System repo README to security policy
  README.md
Labels: documentation, 🕔 hours, small story

#1906 Add heading text info to Panel guidance
  src/components/panel/index.md.njk
Labels: accessibility, 🕔 hours, panel, guidance, small story

#1921 Updating the hint text on the "Date Input" examples to match the "Dates" pattern guidance
  src/components/date-input/default/index.njk
  src/components/date-input/error/index.njk
  src/components/date-input/without-heading/index.njk
  src/components/error-message/default/index.njk
Labels: submitted by user, 🕔 hours, error message, date input, examples, guidance, small story

#1931 Add link for Frontend 3.14.0 release to roadmap
  src/community/roadmap/index.md.njk
Labels: documentation, guidance, 🚀 release, community, small story
