Repository alphagov/govuk-design-system, pull requests merged in 2021-03, with the labels that each got.

#1560 Render additional component descriptions as markdown
  lib/get-macro-options/index.js
Labels: 🐛 bug

#1452 Make it clear that the heading class does not relate to the heading level
  src/styles/typography/captions-inside/index.njk
  src/styles/typography/captions/index.njk
  src/styles/typography/headings-xl/index.njk
  src/styles/typography/headings/index.njk
  src/styles/typography/index.md.njk
Labels: needs research, typography

#1585 Correct typo
  src/patterns/equality-information/index.md.njk
Labels: equality information

#1584 Move full stop typo
  src/patterns/equality-information/explainer-screen/index.njk
Labels: equality information

#1586 Update accessibility statement after TDT fixes
  src/accessibility.md.njk
Labels: accessibility, 🕔 hours
