Repository alphagov/govuk-design-system, pull requests merged in 2021-11, with the labels that each got.

#1967 Tell users who guidance is for and link to GOV.UK
  src/components/error-message/index.md.njk
  src/components/file-upload/index.md.njk
  src/patterns/addresses/index.md.njk
  src/patterns/bank-details/index.md.njk
  src/patterns/confirm-an-email-address/index.md.njk
  src/patterns/email-addresses/index.md.njk
  src/patterns/national-insurance-numbers/index.md.njk
  src/patterns/payment-card-details/index.md.njk
  src/patterns/problem-with-the-service-pages/index.md.njk
  src/patterns/service-unavailable-pages/index.md.njk
  src/patterns/telephone-numbers/index.md.njk
Labels: 🕔 hours, guidance, analytics, telephone numbers, small story

#1963 Tell users when to change back link default text
  src/components/back-link/index.md.njk
Labels: submitted by user, 🕔 days, 🕔 hours, back link, guidance

#1975 Tell users how to report inappropriate content
  README.md
Labels: documentation, 🕔 days, guidance, 2i, security

#1982 Tell users that change links have hidden text
  src/patterns/check-answers/index.md.njk
Labels: accessibility, check answers, guidance

#1987 Set phase banner width to 100% on desktop
  src/stylesheets/components/_phase-banner.scss
Labels: 🐛 bug, website
