Repository alphagov/govuk-design-system, pull requests merged in 2021-07, with the labels that each got.

#1776 Make sure we use classlist.add
  src/javascripts/components/tabs.js
Labels: javascript

#1779 Link Backlog page to GitHub Community Backlog
  src/community/backlog/index.md.njk
Labels: guidance, small story, 🕔 hours

#1740 Mention alternatives to 'none' checkbox option
  src/components/checkboxes/index.md.njk
  src/patterns/question-pages/index.md.njk
Labels: checkboxes, guidance, small story, 🕔 days

#1797 Update accessibility statement re last TDT issue
  src/accessibility.md.njk
Labels: accessibility, documentation, 🕔 hours
