Repository alphagov/govuk-design-system, pull requests merged in 2021-09, with the labels that each got.

#1855 Add user need to Back link page
  src/components/back-link/index.md.njk
Labels: back link, guidance, small story

#1858 Tell users when not to use GDS Transport font
  src/styles/typography/index.md.njk
Labels: typography, guidance, small story

#1872 Fix error message text in equality info example
  src/patterns/equality-information/error-date-of-birth/index.njk
Labels: 🕔 hours, guidance, equality information, small story

#1871 Minor update from privacy team
  src/privacy-policy.md.njk
Labels: small story

#1873 Explain page content in notification banner guide
  src/components/notification-banner/index.md.njk
Labels: submitted by user, 🕔 hours, design, guidance, notification banner, small story

#1874 Add preselected setting info to select guidance
  src/components/select/index.md.njk
Labels: submitted by user, 🕔 hours, select, guidance, small story

#1879 Link Design System site to accessibility criteria
  src/accessibility.md.njk
  src/community/develop-a-component-or-pattern/index.md.njk
Labels: accessibility, documentation, 🕔 hours, guidance, small story

#1894 Fix wording in check answers pattern example
  src/patterns/check-answers/default/index.njk
Labels: check answers, guidance, small story

#1903 Typo fix
  src/patterns/check-answers/index.md.njk
Labels: 🕔 hours, small story

#1907 Add info about when to add 'optional' to legend
  src/patterns/question-pages/index.md.njk
Labels: documentation, 🕔 hours, question pages, guidance, small story

#1917 Add accordion fix date to accessibility statement
  src/accessibility.md.njk
Labels: accessibility, documentation, accordion, small story
