Repository alphagov/govuk-design-system, pull requests merged in 2021-02, with the labels that each got.

#1484 Add cookies guidance
  src/components/cookie-banner/accepted/index.njk
  src/components/cookie-banner/client-side/index.njk
  src/components/cookie-banner/default/index.njk
  src/components/cookie-banner/essential-no-js/index.njk
  src/components/cookie-banner/essential/index.njk
  src/components/cookie-banner/index.md.njk
  src/components/cookie-banner/multiple-cookies/index.njk
  src/components/cookie-banner/no-js/index.njk
  src/components/cookie-banner/rejected/index.njk
  src/components/cookie-banner/server-side/index.njk
  src/patterns/cookies-page/cookies-form/index.njk
  src/patterns/cookies-page/cookies-page.png
  src/patterns/cookies-page/cookies-updated/index.njk
  src/patterns/cookies-page/index.md.njk
  src/patterns/cookies-page/no-js/index.njk
Labels: cookie banner

#1463 Add success colour
  data/colours.json
Labels: colour, guidance

#1511 Add id to contact panel heading
  views/partials/_contact-panel.njk
Labels: awaiting triage

#1365 Explain why prefixes and suffixes are outside inputs
  src/components/text-input/index.md.njk
Labels: text input

#1363 Add research findings from backlog to text input component
  src/components/text-input/index.md.njk
Labels: text input

#1366 Explain how fixed widths are calculated
  src/components/text-input/index.md.njk
Labels: text input

#1367 Add research section to the details component
  src/components/details/index.md.njk
Labels: details

#1373 Add research section to button page
  src/components/button/index.md.njk
Labels: button, documentation
