Repository alphagov/govuk-design-system, pull requests merged in 2022-01, with the labels that each got.

#2017 Add session storage info to accordion guidance
  src/components/accordion/index.md.njk
Labels: accordion, guidance

#2026 Tell users about emoji and accent effect on count
  src/components/character-count/index.md.njk
Labels: character count, guidance, small story

#2035 Update task list example images to use contractions
  src/patterns/task-list-pages/task-list-summary.png
  src/patterns/task-list-pages/task-list-whole.png
Labels: task list, small story

#2012 Add guidance for conditional reveal error messages
  src/components/radios/conditional-reveal-error/index.njk
  src/components/radios/index.md.njk
Labels: design, radios, guidance
