Repository alphagov/govuk-design-system, pull requests merged in 2022-03, with the labels that each got.

#2077 Remove unneeded full stop from text input examples
  src/components/text-input/error/index.njk
  src/components/text-input/input-hint-text/index.njk
Labels: text input, guidance, small story

#2096 Added Kimberly Grey to the team list
  src/design-system-team.md.njk
Labels: documentation

#2091 Update roadmap
  src/community/roadmap/index.md.njk
Labels: documentation

#2098 Say what to hide when you set cookies client side
  src/components/cookie-banner/index.md.njk
Labels: submitted by user, 🕔 hours, guidance, cookie banner, small story

#2107 Say what fields to highlight when info is missing
  src/components/date-input/index.md.njk
Labels: submitted by user, 🕔 days, date input, guidance

#2108 Update error guidance to say years need 4 numbers
  src/components/date-input/index.md.njk
Labels: 🕔 hours, date input, guidance, small story

#2115 Link Design System to list of other design systems
  src/community/resources-and-tools/index.md.njk
  src/index.njk
Labels: guidance, support, community

#1265 Help users to confirm a phone number
  src/patterns/confirm-a-phone-number/default/index.njk
  src/patterns/confirm-a-phone-number/error-expired/index.njk
  src/patterns/confirm-a-phone-number/error-incorrect/index.njk
  src/patterns/confirm-a-phone-number/index.md.njk
  src/patterns/confirm-a-phone-number/resend-first-time/index.njk
  src/patterns/confirm-a-phone-number/resend/index.njk
Labels: guidance, community
