Repository alphagov/govuk-design-system, pull requests merged in 2022-05, with the labels that each got.

#2171 Add subheadings to text input guidance
  src/components/text-input/index.md.njk
Labels: submitted by user, 🕔 hours, text input, guidance, small story, contribution squad, shared ownership

#2145 Make help text advice clearer in fieldset guidance
  src/components/fieldset/index.md.njk
Labels: accessibility, 🕔 hours, fieldset, guidance, small story

#2174 Replace double quotes with singles in example
  src/components/checkboxes/with-none-option-in-error/index.njk
Labels: checkboxes, guidance, contribution squad

#2175 Draft: National Insurance number formatting
  src/patterns/national-insurance-numbers/index.md.njk
Labels: documentation, national insurance numbers, guidance, contribution squad

#2176 adding format guidance for National Insurance number
  src/patterns/national-insurance-numbers/index.md.njk
Labels: documentation, national insurance numbers, contribution squad

#2160 Explain issues with client side validation
  src/patterns/validation/index.md.njk
Labels: submitted by user, 🕔 hours, guidance, validation errors, small story

#2180 Make layout name consistent throughout guidance
  src/styles/layout/index.md.njk
Labels: submitted by user, 🕔 hours, layout, guidance, small story, contribution squad

#2181 Update character count guidance to match new implementation
  src/components/character-count/index.md.njk
Labels: guidance, contribution squad

#2146 Use ESM modules from GOV.UK Frontend
  src/javascripts/application-ie8.js
  src/javascripts/application.js
  src/javascripts/components/cookie-banner.js
  src/javascripts/components/cookies-page.js
  src/javascripts/components/helpers.js
  src/javascripts/components/navigation.js
  src/javascripts/components/tabs.js
  src/javascripts/govuk-frontend.js
Labels: javascript, website

#2188 Explain that red border depends on exceeding limit
  src/components/character-count/index.md.njk
Labels: 🕔 hours, character count, guidance, small story

#2191 Add accurate content for email field char limit
  src/patterns/email-addresses/index.md.njk
Labels: 🐛 bug, 🕔 days, guidance, email addresses, 🔍 investigation

#2184 Make validation guidance language more consistent
  src/patterns/addresses/index.md.njk
  src/patterns/national-insurance-numbers/index.md.njk
  src/patterns/telephone-numbers/index.md.njk
  src/patterns/validation/index.md.njk
Labels: submitted by user, 🕔 hours, design, addresses, national insurance numbers, guidance, validation errors, telephone numbers, small story, shared ownership

#2202 Change contact panel headings to reflect the type of page they're on
  views/partials/_contact-panel.njk
Labels: guidance, website, small story

#2157 Update link text in examples
  src/styles/typography/link-no-underline/index.njk
  src/styles/typography/link-no-visited-state/index.njk
  src/styles/typography/link-on-dark-background/index.njk
  src/styles/typography/link-opening-in-new-tab/index.njk
  src/styles/typography/link/index.njk
Labels: submitted by user, 🕔 hours, typography, guidance, small story
