Repository alphagov/govuk-design-system, pull requests merged in 2022-02, with the labels that each got.

#2048 Add Katrina to the team page on Design System website
  src/design-system-team.md.njk
Labels: documentation, 🕔 hours

#2045 Removed county field
  src/patterns/addresses/index.md.njk
  src/patterns/addresses/multiple/index.njk
Labels: addresses

#2054 Tell users to support necessary characters
  src/components/text-input/index.md.njk
Labels: 🕔 hours, guidance, small story

#2053 Update backlog page
  src/community/backlog/index.md.njk
  src/community/contribution-criteria/index.md.njk
  src/community/develop-a-component-or-pattern/index.md.njk
  src/community/propose-a-component-or-pattern/index.md.njk
Labels: website

#2061 Tell users to accept caseless input for usernames
  src/patterns/create-a-username/index.md.njk
Labels: 🕔 hours, create a username, guidance, small story

#2070 Remove errors from phone numbers guidance
  src/patterns/telephone-numbers/index.md.njk
Labels: accessibility, 🕔 days, guidance, telephone numbers

#2071 Add guidance on error message for text input
  src/components/text-input/index.md.njk
Labels: submitted by user, 🕔 days, text input, guidance, small story

#2074 Tell users we ask for consent before we thank them
  src/community/index.md.njk
Labels: 🕔 hours, guidance, community, small story

#2078 Tell users to left align but not justify body copy
  src/styles/typography/index.md.njk
Labels: accessibility, 🕔 hours, typography, guidance, small story
