Repository alphagov/govuk-design-system, pull requests merged in 2022-04, with the labels that each got.

#2105 Update Task List pattern to show it is being worked on
  src/patterns/task-list-pages/index.md.njk
Labels: documentation, 🕔 hours, task list, community

#2133 update image to generic journey on the check a service is suitable pa…
  src/patterns/check-a-service-is-suitable/check-a-service-is-suitable-flow.svg
  src/patterns/check-a-service-is-suitable/check-a-service-is-suitable-new.svg
  src/patterns/check-a-service-is-suitable/index.md.njk
Labels: Enhancement: feature-request, design, check service is suitable

#2110 Update Node to Active LTS version v16 (Gallium)
  .nvmrc
  README.md
  package-lock.json
  package.json
Labels: documentation, dependencies, tooling

#2150 Update Metalsmith and move to Dart Sass
  lib/metalsmith.js
  package-lock.json
  package.json
Labels: tooling

#2137 Put county field back in address pattern and update guidance
  src/patterns/addresses/index.md.njk
  src/patterns/addresses/multiple/index.njk
Labels: addresses, guidance, contribution squad

#2152 Add placeholder text info to text input guidance
  src/components/text-input/index.md.njk
Labels: submitted by user, accessibility, 🕔 hours, text input, guidance, small story, shared ownership

#2158 Add implementation advice to skip link guidance
  src/components/skip-link/index.md.njk
Labels: submitted by user, accessibility, 🕔 hours, page template, skip link, guidance, small story, shared ownership
