Repository alphagov/govuk-design-system, pull requests merged in 2023-06, with the labels that each got.

#2812 Add link to contribution model blog post
  src/community/blogs-talks-podcasts/index.md
Labels: community, blog

#2851 Locate GOV.UK Frontend using `require.resolve()` for v5
  __tests__/cookie-banner.test.js
  __tests__/cookies-page.test.js
  config/index.js
  config/navigation.js
  config/navigation.json
  config/paths.js
  config/paths.json
  config/ports.js
  jest-puppeteer.config.js
  lib/colours.js
  lib/file-helper.js
  lib/get-macro-options/__tests__/index.js
  lib/get-macro-options/index.js
  lib/metalsmith-lunr-index/index.js
  lib/metalsmith.js
  lib/navigation.js
  lib/paths.js
  lib/puppeteer-helpers.js
  src/stylesheets/_example-init.scss
  src/stylesheets/main.scss
  tasks/serve.js
  tasks/start.js
Labels: assurance, tooling

#2864 Show search aliases for “begins with” matches
  __tests__/search.test.js
  src/javascripts/components/search.mjs
Labels: 🐛 bug, javascript, consistency, website

#2879 Add alias “telephone number” to “Confirm a phone number” page
  src/patterns/confirm-a-phone-number/index.md
Labels: consistency

#2800 Include a section on chart colours
  src/styles/colour/index.md
Labels: submitted by user, documentation, colour
